{% extends "base.twig" %}

{% block title %}Account verification{% endblock %}

{% block content %}

    <section class="hero is-fullheight-with-navbar">

            <div class="container mt-6">
                <article class="message {% if isSuccess %} is-success {% else %} is-danger {% endif %}">
                    <div class="message-header">
                        <p>Account verification</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>

                    <div class="message-body has-text-centered">
                        <p>{{ message }}</p>

                        <img class="mt-4" src="{{ gif_url }}" alt="A success gif image">
                    </div>
                </article>

        </div>
    </section>
{% endblock %}