{% extends 'base.twig' %}

{% block title %}Wallet{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column box is-two-thirds">
    <h1 class="title is-1">Welcome to your wallet</h1>

    <h2 class="subtitle is-4">Your current balance is {{ money }} coins</h2>

    <form action="/user/wallet" method="POST" accept-charset="utf-8">
        <div class="field">
            <label class="label">Add money to wallet</label>
            <p class="control has-icons-left">
                <input class="input {% if errors.positiveVal or errors.tooBig %}{{ "is-danger" }}{% endif %}" type="number" name="money" placeholder="Amount of money" autocomplete="off"
                       value="">

                <span class="icon is-small is-left">
                                            <i class="fas fa-wallet"></i>
                                        </span>
            </p>
        </div>


        <div class="field">
            <p class="control">
                <input type="submit" class="button is-success " value="Add money" >
            </p>
        </div>
        {% if errors.positiveVal %}
            <p class="help is-danger">Error! The money amount has to be greater than 0!</p>
        {% endif %}
        {% if errors.tooBig %}
            <p class="help is-danger">Error! The money amount has to be smaller than 2 Billion!</p>  <p class="help is-danger"></p>
        {% endif %}

    </form>

    </div>
    </div>
    </div>
    </section>

{% endblock %}